@model IEnumerable<MoneyTrackerProject.Models.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    This section allows you to enter the details of the transactions. The amount, date,
    description and mode of transaction (credit/debit), etc., are taken as input. This
    will help with generating rich reports and for viewing transaction details later.
    <br />
    <br />
    @Html.ActionLink("Create New", "Create")
</p>
<table id="TxnTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionMode.Mode)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionMode.Mode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TransactionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TransactionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TransactionId })
            </td>
        </tr>
        }
    </tbody>

</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#TxnTable').DataTable({
                "pagingType": "full_numbers",
                "order": [[4, "desc"]]
            });
        });
    </script>
}
