@model IEnumerable<MoneyTrackerProject.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    Use this section to create entries for the employees of the company.
    <br />
    Please also enter the department under which the employee is working.
    <br />
    <br />
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Create New", "Create");
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @if (User.IsInRole("Administrator"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId });
                <span> | </span>
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeId });
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId });
            }
            else
            {
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeId });
            }
        </td>
    </tr>
}

</table>
