<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
    <style>
        .navbar {
            background-color: yellowgreen;
            font-weight: bold;
        }

        .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
            transition: all 0.3s ease 0s;
            color: darkolivegreen;
        }

        .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
            color: white;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="MyTestClass">
                    @Html.ActionLink("MoneyTracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Department", "Index", "Departments")</li>
                        <li>@Html.ActionLink("Employee", "Index", "Employees")</li>
                        <li>@Html.ActionLink("Transaction", "Index", "Transactions")</li>
                        <li>@Html.ActionLink("Send Email", "SendEmails", "SendEmails")</li>
                        <li>@Html.ActionLink("Upload File", "Index", "Upload_Files")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MoneyTracker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/notify.min.js" defer></script>
    <script src="~/Scripts/bootstrap-datepicker.js" defer></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js" defer></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js" defer></script>
    <script src="/Scripts/DataTables/dataTables.bootstrap.js" defer></script>
    <script src="~/Scripts/c3.min.js" defer></script>
    <script src="~/Scripts/d3.min.js" defer></script>
    <link href="~/Content/c3.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
</body>
</html>
